<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table class="table">
  <thead>
    <tr>
      <th> Id </th>
      <th>Nombre Cliente</th>
      <th>Identificador</th>
      <th>Tipo Identif</th>
      
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.id %></td>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.valorIdentificador %></td>
        <td><%= cliente.tipoIdentificador %></td>
        <td><%= link_to 'Ver', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_cliente_path %>
