
<div class="container">

  <div class="row">
    <div class="col-sm-3">
      <%= image_tag "LogoWyW.png", alt: "logotipo", :class => "logo" %>
    </div>

    <div class="col-sm-9">
      <p class="leyenda">Metalúrgica S.R.L</p>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p class="titulo">Sistema Integral de presupuestos</p>
      </div>
    </div>
  </div> <!-- row -->
 


  <div class="span12">
    <p class="titulo" style="color: Blue;">Ingreso al sistema</p>

  </div>

  <br>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  <!--
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  -->

    <div class="form-group">
      <!--<%= f.label :Usuario, class: "col-sm-2 control-label" %>  -->
      <div class="col-sm-12">
        <%= f.text_field :username, autofocus: true, class: "form-control", 
        :placeholder => "Nombre de usuario" %>  
      </div>
    </div>
  

    <div class="form-group">
      <!--  <%= f.label :Contraseña, class: "col-sm-2 control-label" %>  -->
      <div class="col-sm-12">
        <%= f.password_field :password, autocomplete: "off", class: "form-control",
        :placeholder => "Contraseña" %>
      </div>
    </div>

  <!--
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
  -->

    <div class="form-group">
      <div class="col-sm-7 col-sm-offset-4">
        <%= f.submit "Ingresar", class: 'btn btn-primary' %>
      </div>
    </div>

  <% end %>

</div>
<!-- <%= render "devise/shared/links" %> -->
